# Data_Type_And_Structures_Assignment

In [1]:
# Write a code to create a string with your name and print it.

my_name = "Vivek Bharti"
print(my_name)

Vivek Bharti

In [2]:
#Write a code to find the length of the string "Hello World".

text = "Hello World"
length = len(text)
print("The length of the string is:", length)

The length of the string is: 11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [6]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple."

updated_text = text.replace("apple", "orange")

print(updated_text)

I like orange.

In [7]:
# Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]


print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4, 5]

my_list.append(10)

print(my_list)

[1, 2, 3, 4, 5, 10]

In [9]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]

numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

In [10]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']

second_element = my_list[1]

print("The second element is:", second_element)

The second element is: b

In [12]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]

for i in range(len(my_list) - 1, -1, -1):
    print(my_list[i])

50
40
30
20
10

In [13]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)

print(my_tuple)

(100, 200, 300)

In [14]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')

second_to_last = colors[-2]

print(second_to_last)

blue

In [15]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)

minimum_number = min(numbers)

print("The minimum number in the tuple is:", minimum_number)

The minimum number in the tuple is: 5

In [16]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ("dog", "cat", "rabbit")

index_of_cat = animals.index("cat")


print(f"The index of 'cat' is: {index_of_cat}")

The index of 'cat' is: 1

In [18]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("orange", "grapes", "guava")


if "kiwi" in fruits:
    print("Kiwi is in the tuple!")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [19]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}

print(my_set)

{'a', 'b', 'c'}

In [20]:
#  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}

my_set.clear()

print(my_set)

set()

In [22]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}

my_set.remove(4)

print(my_set) 

# using discard
my_set = {1, 2, 3, 4}
my_set.discard(4)
print(my_set)

{1, 2, 3}
{1, 2, 3}

In [23]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [24]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection = set1.intersection(set2)

print("Intersection of the sets:", intersection)

Intersection of the sets: {2, 3}

In [26]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
# Creating the dictionary
person = {
    "name": "Vivek",
    "age": 24,
    "city": "Bihar"
}

print(person)

{'name': 'Vivek', 'age': 24, 'city': 'Bihar'}

In [27]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {"name": "John", "age": 25}

person["country"] = "USA"

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {"name": "Alice", "age": 30}

name_value = person["name"]

print(name_value)

Alice

In [29]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {"name": "bob", "age": 22, "city": "new york"}

person.pop("age", None)  

print(person)

{'name': 'bob', 'city': 'new york'}

In [30]:
#  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

alice = {"name": "Alice", "city": "Paris"}

if "city" in alice:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [31]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]

my_tuple = ('orange', 'grapes', 'guava')

my_dict = {'name': 'Vivek', 'age': 24, 'city': 'Patna'}


print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('orange', 'grapes', 'guava')
Dictionary: {'name': 'Vivek', 'age': 24, 'city': 'Patna'}

In [32]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced).
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()

print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [17, 25, 41, 44, 73]

In [34]:
# Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "guava", "blackberry"]

print("Element at the third index:", my_list[3])

Element at the third index: guava

In [37]:
#  Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [38]:
# Write a code to convert a list of strings into a set.

string_list = ["mango", "banana", "guava", "grapes", "banana"]

string_set = set(string_list)

print("Original List:", string_list)
print("Converted Set:", string_set)

Original List: ['mango', 'banana', 'guava', 'grapes', 'banana']
Converted Set: {'mango', 'grapes', 'banana', 'guava'}